body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.action-buttons button:hover {
  background-color: #45a049;
}

.search-container {
  margin-top: 20px;
  text-align: center;
}

#search-input {
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
}

#search-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 5px;
}

#search-button:hover {
  background-color: #006080;
}  